@model IEnumerable<GestaoDoConecimento.Dados.Atividade>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeAtividade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeAtividade)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.NomeAtividade.ToString(), "Details",
                "Atividade", new { id = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeAtividade)
        </td>
    </tr>
}

</table>
